#jumbotron{
    background-image:url(../img/jumbo-bg.png);
    background-position:center;
    background-size: cover;
    width: 100%;
    
    color: white;
}
#jumbotron img{
    margin-top: 200px;
    
}
#playstation5 .bluetext_mp {
    color:  hsl(207deg 67% 57%);
}
#it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position:center;
    background-size: cover;
    color: white;
    
}
#card-new{
    background-color: hsl(0deg 0% 13%);
    color: white;

}
#playstation-plus{
    background-color:hsl(20deg 2% 74%) ;
    
}
#playstation-plus button{
    color:hsl(222deg 78% 55%) ;
    background-color: hsl(220deg 4% 86%);
    width: auto;
    padding: 5px ;
    border: 0px;
    
}
#playstation-now{
    background-color:hsl(229deg 46% 16%) ;
    color: white;
}
footer{
    padding: 40px 0px ;
    background-color: hsl(214deg 100% 31%);
    color: white;
    
}
footer .globe_mp {
    width: 20px;
}
.debug{
    border: 1px solid green;
}
footer ul{
    list-style-type: none;
}
.logosony{
    width: 100px;
}
